.news-item {
  padding: 1rem;

  img {
    // 让图片初始可见度为0，加载后再重新设置为可见
    opacity: 0;
    // 切换可见度时加入0.5s过渡的效果
    transition: opacity 0.5s;
  }

  .info {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: .5rem;
    color: #999;
    border-bottom: 1px solid #ededed;

    .author {
      margin-right: 1rem;
    }
  }

  .title {
    padding: .5rem 0;

    h1 {
      font-size: 1.6rem;
    }
  }

  &.type_1 {

    .main {
      display: flex;
    }

    .title {
      flex: 2;
    }

    .pic {
      flex: 1;
      background-color: #eee;
    }
  }

  &.type_2,
  &.type_3 {
    .pic {
      display: flex;
      justify-content: space-between;

      .img {
        // width: 33.3%;
        // flex实际上是有三个参数设置
        flex: 1 1 33.3%;
        margin-right: .5rem;
        background-color: #eee;
        // 清楚图片容器和图片的间距
        font-size: 0;
      }

      &.last {
        margin: 0;
      }
    }
  }
}